@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    /*background: #fff url('./ajax-loader.gif') center center no-repeat;*/
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    /*
    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
    */
}
/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    bottom: 18px;
    right: 29px;
    z-index: 999;
    display: block;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: #fff;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    width: 54px;
    height: 54px;
}
.slick-prev {
    right: 75px;
    background: url(/public/images/slick-left.png?v=5) no-repeat center center;
}
.slick-next {
    background: url(/public/images/slick-right.png?v=5) no-repeat center center;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
	opacity: 0.9;
	/*color: transparent;*/
    /*outline: none;*/
    /*background: transparent;*/
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    /*opacity: 1;*/
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    /*opacity: .25;*/
}

.slick-prev:before,
.slick-next:before
{
    /*font-family: 'slick';*/
    /*font-size: 20px;*/
    /*line-height: 1;*/
    /**/
    /*opacity: .75;*/
    /*color: white;*/
    /**/
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
}
/*[dir='rtl'] .slick-prev*/
/*{*/
    /*right: -25px;*/
    /*left: auto;*/
/*}*/
/*.slick-prev:before*/
/*{*/
    /*content: '←';*/
/*}*/
/*[dir='rtl'] .slick-prev:before*/
/*{*/
    /*content: '→';*/
/*}*/

/*[dir='rtl'] .slick-next*/
/*{*/
    /*right: auto;*/
    /*left: -25px;*/
/*}*/
/*.slick-next:before*/
/*{*/
    /*content: '→';*/
/*}*/
/*[dir='rtl'] .slick-next:before*/
/*{*/
    /*content: '←';*/
/*}*/

/* Dots */
.slick-dotted.slick-slider
{
    /*margin-bottom: 30px;*/
}

.slider_dots_2,
.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}

.slider_dots_2 li,
.slick-dots li,
.main_slider_dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}

.slider_dots_2 li button,
.slick-dots li button,
.main_slider_dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slider_dots_2 li button:hover,
.slider_dots_2 li button:focus,
.main_slider_dots li button:hover,
.main_slider_dots li button:focus,
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}

.slider_dots_2 li button:hover:before,
.slider_dots_2 li button:focus:before,
.main_slider_dots li button:hover:before,
.main_slider_dots li button:focus:before,
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

.main_slider_dots {
    position: absolute;
    right: 25px;
    top: 50%;

    display: block;

    padding: 0;
    margin: 0;

    list-style: none;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.main_slider_dots li
{
    display: block;
}

.main_slider_dots li button:before
{
    font-family: 'slick';
    /*font-size: 6px;*/
    /*line-height: 20px;*/

    position: absolute;
    top: 0;
    left: 0;

    width: 6px;
    height: 6px;

    border: 1px solid #fff;

    content: '';
    display: block;

    text-align: center;

    opacity: 1;
    color: black;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main_slider_dots li.slick-active button:before
{
    background: #fff;
    color: black;
}

.slider_dots_2 {
    bottom: 0px;
}

.slider_dots_2 li button:before {
    position: absolute;
    top: 0;
    left: 0;

    width: 8px;
    height: 8px;

    border: 1px solid #d4d4d4;

    content: '';
    display: block;

    text-align: center;

    opacity: 1;
    color: black;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slider_dots_2 li.slick-active button:before
{
    border-color: #FF8911;
    background: #FF8911;
}




/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    /*height: 100%;*/
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
}
.slick-arrow.slick-hidden {
    display: none;
}
