.chosen-container{position:relative;display:inline-block;vertical-align:middle;font-size:13px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.chosen-container *{-webkit-box-sizing:border-box;box-sizing:border-box}.chosen-container .chosen-drop{position:absolute;top:100%;z-index:1010;width:100%;border:1px solid #e6e6e6;border-top:0;background:#f4f7fa;-webkit-box-shadow:0 4px 5px rgba(0,0,0,.15);box-shadow:0 4px 5px rgba(0,0,0,.15);display:none}.chosen-container.chosen-with-drop .chosen-drop{display:block}.chosen-container a{cursor:pointer}.chosen-container .search-choice .group-name,.chosen-container .chosen-single .group-name{margin-right:4px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-weight:400;color:#999}.chosen-container .search-choice .group-name:after,.chosen-container .chosen-single .group-name:after{content:":";padding-left:2px;vertical-align:top}.chosen-container-single .chosen-single{position:relative;display:block;overflow:hidden;border:1px solid #e6e6e6;border-radius:5px;background-color:#f4f7fa;background-clip:padding-box;color:#444;text-decoration:none;white-space:nowrap;line-height:24px;text-align:left}.chosen-container-single .chosen-single input[type="text"]{cursor:pointer;opacity:0;position:absolute;width:0}.chosen-container-single .chosen-default{color:#999}.chosen-container-single .chosen-single span{display:block;overflow:hidden;margin-right:26px;text-overflow:ellipsis;white-space:nowrap;font-size:16px;padding:11px 14px;color:#93989d}.chosen-container-single .chosen-single-with-deselect span{margin-right:38px}.chosen-container-single .chosen-single abbr{position:absolute;top:6px;right:26px;display:block;width:12px;height:12px;/*background:url(/images/chosen-sprite.png) -42px 1px no-repeat;*/font-size:1px}.chosen-container-single .chosen-single abbr:hover{background-position:-42px -10px}.chosen-container-single.chosen-disabled .chosen-single abbr:hover{background-position:-42px -10px}.chosen-container-single .chosen-single div{position:absolute;top:0;right:0;display:block;width:40px;height:100%}.chosen-container-single .chosen-single div b{display:block;width:100%;height:100%;background-image:url(data:image/svg xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiB2aWV3Qm94PSIwIDAgNDUxLjg0NiA0NTEuODQ3Ij48cGF0aCBkPSJNMjAzLjU1NCAzNDUuNDQxTDkuMjczIDE1MS4xNTRjLTEyLjM2NS0xMi4zNTktMTIuMzY1LTMyLjM5NyAwLTQ0Ljc1IDEyLjM1NC0xMi4zNTQgMzIuMzkxLTEyLjM1NCA0NC43NDQgMGwxNzEuOTA5IDE3MS45MTRMMzk3LjgyOSAxMDYuNDFjMTIuMzU5LTEyLjM1NCAzMi4zOTQtMTIuMzU0IDQ0Ljc0OCAwIDEyLjM1OSAxMi4zNTQgMTIuMzU5IDMyLjM5MSAwIDQ0Ljc1TDI0OC4yOTMgMzQ1LjQ0NmMtNi4xOCA2LjE3Ny0xNC4yNzEgOS4yNjItMjIuMzY2IDkuMjYyLTguMDk5IDAtMTYuMTk2LTMuMDktMjIuMzczLTkuMjY3eiIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCIgY2xhc3M9ImFjdGl2ZS1wYXRoIiBkYXRhLW9sZF9jb2xvcj0iI2NjY2NjYyIgZmlsbD0iI2NjYyIvPjwvc3ZnPg==);background-size:15px;background-repeat:no-repeat;background-position:center}.chosen-container-single .chosen-search{position:relative;z-index:1010;margin:0;padding:3px 14px;white-space:nowrap}.chosen-container-single .chosen-search input[type="text"]{margin:1px 0;padding:4px 20px 4px 5px;width:100%;height:auto;outline:0;border:1px solid #aaa;/*background:url(/images/chosen-sprite.png) no-repeat 100% -20px;*/font-size:1em;font-family:sans-serif;line-height:normal;border-radius:0;background-color:#fff}.chosen-container-single .chosen-drop{margin-top:-10px;border-radius:0 0 4px 4px;background-clip:padding-box}.chosen-container-single.chosen-container-single-nosearch .chosen-search{position:absolute;opacity:0;pointer-events:none}.chosen-container .chosen-results{color:#444;position:relative;overflow-x:hidden;overflow-y:auto;margin:0 4px 4px 0;padding:0 0 0 4px;max-height:240px;-webkit-overflow-scrolling:touch}.chosen-container .chosen-results li{display:none;margin:0;padding:10px 14px;list-style:none;line-height:15px;word-wrap:break-word;-webkit-touch-callout:none;font-size:16px}.chosen-container .chosen-results li.active-result{display:list-item;cursor:pointer}.chosen-container .chosen-results li.disabled-result{display:list-item;color:#ccc;cursor:default}.chosen-container .chosen-results li.highlighted{background-color:#ba1200;color:#fff}.chosen-container .chosen-results li.no-results{color:#93989d;display:list-item}.chosen-container .chosen-results li.group-result{display:list-item;font-weight:700;cursor:default}.chosen-container .chosen-results li.group-option{padding-left:15px}.chosen-container .chosen-results li em{font-style:normal;text-decoration:underline}.chosen-container-multi .chosen-choices{position:relative;overflow:hidden;margin:0;padding:0 5px;width:100%;height:auto;border:1px solid #aaa;background-color:#fff;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(1%,#eee),color-stop(15%,#fff));background-image:linear-gradient(#eee 1%,#fff 15%);cursor:text}.chosen-container-multi .chosen-choices li{float:left;list-style:none}.chosen-container-multi .chosen-choices li.search-field{margin:0;padding:0;white-space:nowrap}.chosen-container-multi .chosen-choices li.search-field input[type="text"]{margin:1px 0;padding:0;height:25px;outline:0;border:0!important;background:transparent!important;-webkit-box-shadow:none;box-shadow:none;color:#999;font-size:100%;font-family:sans-serif;line-height:normal;border-radius:0;width:25px}.chosen-container-multi .chosen-choices li.search-choice{position:relative;margin:3px 5px 3px 0;padding:3px 20px 3px 5px;border:1px solid #aaa;max-width:100%;border-radius:3px;background-color:#eee;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(20%,#f4f4f4),color-stop(50%,#f0f0f0),color-stop(52%,#e8e8e8),to(#eee));background-image:linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);background-size:100% 19px;background-repeat:repeat-x;background-clip:padding-box;-webkit-box-shadow:0 0 2px #fff inset,0 1px 0 rgba(0,0,0,.05);box-shadow:0 0 2px #fff inset,0 1px 0 rgba(0,0,0,.05);color:#333;line-height:13px;cursor:default}.chosen-container-multi .chosen-choices li.search-choice span{word-wrap:break-word}.chosen-container-multi .chosen-choices li.search-choice .search-choice-close{position:absolute;top:4px;right:3px;display:block;width:12px;height:12px;/*background:url(/images/chosen-sprite.png) -42px 1px no-repeat;*/font-size:1px}.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover{background-position:-42px -10px}.chosen-container-multi .chosen-choices li.search-choice-disabled{padding-right:5px;border:1px solid #ccc;background-color:#e4e4e4;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(20%,#f4f4f4),color-stop(50%,#f0f0f0),color-stop(52%,#e8e8e8),to(#eee));background-image:linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);color:#666}.chosen-container-multi .chosen-choices li.search-choice-focus{background:#d4d4d4}.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close{background-position:-42px -10px}.chosen-container-multi .chosen-results{margin:0;padding:0}.chosen-container-multi .chosen-drop .result-selected{display:list-item;color:#ccc;cursor:default}.chosen-container-active.chosen-with-drop .chosen-single{}.chosen-container-active.chosen-with-drop .chosen-single div{border-left:none;background:transparent}.chosen-container-active .chosen-choices{border:1px solid #5897fb;-webkit-box-shadow:0 0 5px rgba(0,0,0,.3);box-shadow:0 0 5px rgba(0,0,0,.3)}.chosen-container-active .chosen-choices li.search-field input[type="text"]{color:#222!important}.chosen-disabled{opacity:0.5!important;cursor:default}.chosen-disabled .chosen-single{cursor:default}.chosen-disabled .chosen-choices .search-choice .search-choice-close{cursor:default}.chosen-rtl{text-align:right}.chosen-rtl .chosen-single{overflow:visible;padding:0 8px 0 0}.chosen-rtl .chosen-single span{margin-right:0;margin-left:26px;direction:rtl}.chosen-rtl .chosen-single-with-deselect span{margin-left:38px}.chosen-rtl .chosen-single div{right:auto;left:3px}.chosen-rtl .chosen-single abbr{right:auto;left:26px}.chosen-rtl .chosen-choices li{float:right}.chosen-rtl .chosen-choices li.search-field input[type="text"]{direction:rtl}.chosen-rtl .chosen-choices li.search-choice{margin:3px 5px 3px 0;padding:3px 5px 3px 19px}.chosen-rtl .chosen-choices li.search-choice .search-choice-close{right:auto;left:4px}.chosen-rtl.chosen-container-single .chosen-results{margin:0 0 4px 4px;padding:0 4px 0 0}.chosen-rtl .chosen-results li.group-option{padding-right:15px;padding-left:0}.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div{border-right:none}.chosen-rtl .chosen-search input[type="text"]{padding:4px 5px 4px 20px;/*background:url(/images/chosen-sprite.png) no-repeat -30px -20px;*/direction:rtl}.chosen-rtl.chosen-container-single .chosen-single div b{background-position:6px 2px}.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b{background-position:-12px 2px}@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:144dpi),only screen and (min-resolution:1.5dppx){.chosen-rtl .chosen-search input[type="text"],.chosen-container-single .chosen-single abbr,.chosen-container-single .chosen-single div b,.chosen-container-single .chosen-search input[type="text"],.chosen-container-multi .chosen-choices .search-choice .search-choice-close,.chosen-container .chosen-results-scroll-down span,.chosen-container .chosen-results-scroll-up span{/*background-image:url(chosen-sprite@2x.png)!important;*/background-size:52px 37px!important;background-repeat:no-repeat!important}}

.chosen-container {
  border: 1px solid #f4f4f4;
}
.chosen-container li:before {
	content: '';
	display: none;
}

.chosen-container-single .chosen-single {
  background: #F4F4F4;
  border: 1px solid #F4F4F4;
  border-radius: 0px;
}
.chosen-container-single .chosen-single span {
  padding: 15px 23px 16px;
  font-size: 17.38px;
  color: #676767;
  line-height: 1.4em;
}
.chosen-container-single .chosen-search {
  padding: 10px 15px 10px;
}
.chosen-container-single .chosen-search input[type="text"] {
  border: 1px solid #f4f4f4;
  font-size: 16px;
  font-family: 'PFBeauSansPro', Helvetica, Arial, sans-serif;
  padding: 8px 10px 8px 11px;
}
.chosen-container .chosen-results li.highlighted {
    background: #C63093;
}
.chosen-container .chosen-results li[data-option-array-index="0"]:first-child {
    display: none;
}
.chosen-container .chosen-drop {
  background: #f4f4f4;
  margin-top: -56px;
  -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.1);
  box-shadow: 0 5px 5px rgba(0,0,0,.1);
  outline: 1px solid #e6e6e6;
  border: 0px;
  border-radius: 2px;
}
.chosen-container .chosen-results li.no-results {
  line-height: 1.4em;
}

/* --- CHOSEN ADMIN --- */
.chosen-left {
	float: left;
	width: 48%;
}
.chosen-right {
	float: right;
	width: 48%;
}
.chosen-line {
	display: block;
	width: 452px;
}
.chosen-line .formbox {
	width: 100%;
}
.chosen-line select {
	width: 100% !important;
}
.chosen-line .label {
	padding: 0px 0px 5px;
}
.chosen-container-single .chosen-single {
    background: #ffffff;
    border: 1px solid #b9bcc5;
    border-radius: 0px;
}
.chosen-container .chosen-drop {
    outline: 1px solid #b9bcc5;
}
.chosen-container-single .chosen-single span {
    padding: 7px 13px 6px;
    font-size: 14px;
    color: #000;
    line-height: 1.4em;
}
.chosen-container .chosen-drop {
    margin-top: -33px;
}
.chosen-container-single .chosen-search {
    padding: 1px 1px 1px;
}
.chosen-container .chosen-results li {
	padding: 4px 10px;
    font-size: 13px;
}
.chosen-container .chosen-results li.highlighted {
	background: #5583FD;
}
.chosen-container:after {
	content: '';
    position: absolute;
    right: 5px;
    top: 8px;
    background: url(images/select_arr.png?v=2) no-repeat 0px 0px #fff;
    width: 30px;
    height: 19px;
	pointer-events: none;
	cursor: pointer;
}
.select .chosen-container {
	width: 340px !important;
}
.chosen-container .chosen-results li[data-option-array-index="0"]:first-child {
	display: block;
}
/* --- // --- */
